<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Test - NodeJS</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Test NodeJS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout"><i class="material-icons">logout</i></a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/logout"><i class="material-icons">logout</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div class="row section">
   <div class="container">
        <h3>POST</h3>
        <br>
        <br>
        <p>{{ post.id }}<p>
        <p>{{ post.post_content }}<p>
        <p>{{ post.createdAt }}<p>
        <br>
        <br>
        <h3>REQUEST</h3>
        <br>
        <br>
        <ul class="collection listRequest"></ul>
   </div>
</div>
      <div id="addRe" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col m8 s8 offset-m2 offset-s2 center">
              <h4 class="truncate bg-card-user">
                <div class="row login">
                  <h5>Add POST</h5>
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">local_post_office</i>
                        <input id="icon_prefix1" type="email" class="validate" required>
                        <label for="icon_prefix1">Post content</label>
                      </div>
                    </div>
                  </form>
                </div>
              </h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  class="waves-effect waves-light btn btnGuardar"><i class="material-icons left">done</i>Add</button>
          <button class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons left">clear</i>Cancel</button>
        </div>
      </div>

  <!--  Scripts-->
  <script src="../js/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/request.js"></script>
  </body>
</html>
