<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Test - NodeJS</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Test NodeJS</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn modal-trigger" href="#signin">Sign In</a></li>
        <li><a class="waves-effect waves-light btn modal-trigger" href="#signup">Sign Up</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a class="modal-trigger" href="#signin">Sign In</a></li>
        <li><a class="modal-trigger" href="#signup">Sign Up</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="row section">
    <div class="container">
      <div id="signin" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col m8 s8 offset-m2 offset-s2 center">
              <h4 class="truncate bg-card-user">
                <div class="row login">
                  <h5>Sign In</h5>
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">account_box</i>
                        <input id="icon_prefix1" type="email" class="validate" required>
                        <label for="icon_prefix1">UserName</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">enhanced_encryption</i>
                        <input id="password1" type="password" class="validate" required>
                        <label for="password1">Contraseña</label>
                      </div>
                    </div>
                  </form>
                </div>
              </h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  class="waves-effect waves-light btn btnGuardar"><i class="material-icons left">done</i>Sign In</button>
          <button class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons left">clear</i>Cancel</button>
        </div>
      </div>
      <div id="signup" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col m8 s8 offset-m2 offset-s2 center">
              <h4 class="truncate bg-card-user">
                <div class="row login">
                  <h5>Sign Up</h5>
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">account_box</i>
                        <input id="icon_prefix1" type="email" class="validate" required>
                        <label for="icon_prefix1">UserName</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">enhanced_encryption</i>
                        <input id="password1" type="password" class="validate" required>
                        <label for="password1">Contraseña</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col m12 s12">
                        <i class="material-icons iconis prefix">enhanced_encryption</i>
                        <input id="password2-1" type="password" class="validate" required>
                        <label for="password2-1">Confirm password</label>
                      </div>
                    </div>
                  </form>
                </div>
              </h4>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  class="waves-effect waves-light btn btnGuardar"><i class="material-icons left">done</i>Sign In</button>
          <button class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons left">clear</i>Cancel</button>
        </div>
      </div>
  </div>
</div>


  <!--  Scripts-->
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/home.js"></script>
   {% block script %}
   {% endblock %}
</body>
</html>
